/* background.css */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #0b1120;
}

#root {
  min-height: 100vh;
  position: relative;
}
