@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes twinkle {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}
/* =========================
   GLOBAL ZOOM CONTROL
========================= */



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #22d3ee, #3b82f6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #38bdf8, #6366f1);
}

/* Firefox Support */
* {
  scrollbar-width: thin;
  scrollbar-color: #22d3ee #020617;
}

/* Remove blue tap highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent;
}
