/* prevent-scroll.css */
.no-scroll {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}

.no-scrollbars::-webkit-scrollbar {
  display: none !important;
}

.no-scrollbars {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.viewport-fixed {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  overflow: hidden !important;
}